<div class="nav">
    <nav class="navbar">
        <h1><a href="/">Productos</a></h1>
        <ul class="nav-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>