<section>
    <h1 class="section-heading">Create your Own Products now!</h1>
    <div class="login-signip">
        <a href="/login" class="login-btn">Login</a>
        <a href="/signup" class="signup-btn">Signup</a>
    </div>
</section>